@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Fonts */
@font-face {
  font-family: 'Adventure';
  src: url('/static/fonts/Adventure-YGZ2.woff2') format('woff2'),
       url('/static/fonts/Adventure-YGZ2.woff') format('woff'),
       url('/static/fonts/Adventure-YGZ2.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@layer components {
  /* BUTTONS */
  .btn-primary {
    @apply bg-primary-600 hover:bg-primary-700 text-white font-bold py-2 px-4 rounded disabled:opacity-50 disabled:cursor-not-allowed;
  }
  .btn-secondary {
    @apply bg-transparent hover:bg-primary-700 text-green-700 font-semibold hover:text-white py-2 px-4 border border-green-500 hover:border-transparent disabled:opacity-50 disabled:cursor-not-allowed rounded;
  }
}
.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}
